body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2599c4;
  color: white;
  padding: 10px;
  height: 80px; /* Adjust height as needed */
}

.navbar-logo img {
  height: 290px; /* Adjust height as needed */
  margin-right: 10px;
  margin-top: 40px;
}

.navbar-actions button {
  padding: 5px;
  margin-left: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: #2599c4;
  padding-top: 20px;
  transition: transform 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 55px;
  padding: 10px;
  font-size: 25px;
}

.sidebar ul li {
  padding: 20px;
  text-align: left;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.navbar-icon {
  text-align: center;
  padding-top: 10px;
}

.navbar-icon a {
  color: white;
}

/* Tambahkan aturan gaya ikon */
.navbar-icon a i {
  margin-right: 5px; /* Jarak antara ikon dan teks */
}

/* Aturan gaya ikon spesifik untuk setiap tautan */
.navbar-icon a[href="{{ url_for('produk') }}"] i {
  color: white; /* Warna ikon untuk Produk */
}

.navbar-icon a[href="{{ url_for('notifikasi') }}"] i {
  color: white; /* Warna ikon untuk Notifikasi */
}

.navbar-icon a[href="{{ url_for('pesanan') }}"] i {
  color: white; /* Warna ikon untuk Pesanan */
}

.navbar-icon
  a[href="{{ url_for('chat_pembeli', username='nama_pengguna') }}"]
  i {
  color: white; /* Warna ikon untuk Chat Pembeli */
}

.navbar-icon a[href="{{ url_for('distributor') }}"] i {
  color: white; /* Warna ikon untuk Channel Distributor */
}

.navbar-icon a[href="{{ url_for('profil') }}"] i {
  color: white; /* Warna ikon untuk Profil */
}

#time-weather {
  margin-top: auto; /* Mengatur agar elemen di bawah profil */
  padding: 5px;
  background-color: #f5f5f5; /* Menyesuaikan warna latar belakang */
  border-top: 1px solid #ddd; /* Menambahkan garis pemisah */
}

#time,
#weather {
  padding-bottom: 15px;
}

#carouselExampleIndicators {
  margin-left: 370px; /* Sesuaikan jarak dari kiri dengan lebar sidebar */
  margin-right: 10px;
  margin-top: 20px; /* Sesuaikan jarak dari atas untuk menghindari navbar */
}

.carousel-item img {
  width: 100%; /* Mengatur lebar gambar menjadi 100% dari lebar elemen induknya */
  height: auto; /* Mengatur tinggi gambar secara otomatis untuk mempertahankan rasio aspek */
  max-height: 800px; /* Mengatur tinggi maksimum gambar */
  object-fit: cover; /* Memastikan gambar mengisi elemen tanpa mengubah rasio aspek */
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 370px;
}

.product-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: calc(
    25% - 40px
  ); /* Adjust the width based on the desired number of columns */
}

.product-card img {
  max-width: 100%;
  height: auto;
}
